html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.bg {
  position: relative;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#1f1f1f, #031c4f);
}

.forest {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  z-index: 1000;
  object-fit: cover;
}

.moon {
  position: absolute;
  display: block;
  top: 40px;

  left: 10%;
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0px 0px 20px white;
  z-index: 1000;
}

.cloud {
  position: absolute;
  z-index: 10000;
}

#cloud1 {
  max-width: 300px;
  animation: move 60s linear infinite;
  top: 100px;
  left: 0px;
}
#cloud2 {
  max-width: 400px;
  animation: move 80s linear infinite;
  top: 400px;
  left: 0px;
  animation-delay: -10s;
}
#cloud3 {
  max-width: 500px;
  animation: move 40s linear infinite;
  top: 200px;
  left: 0px;
}
#cloud4 {
  max-width: 600px;
  animation: move 55s linear infinite;
  top: 300px;
  left: 0px;
  animation-delay: -10s;
}
#cloud5 {
  max-width: 500px;
  animation: move 60s linear infinite;
  top: 250px;
  left: 0px;
}
#cloud6 {
  max-width: 700px;
  animation: move 40s linear infinite;
  top: 50px;
  left: 0px;
  animation-delay: -15s;
}
@keyframes move {
  0% {
    transform: translateX(-75vh) scale(1);
  }
  100% {
    transform: translateX(200vh) scale(1.5);
  }
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: white;
  animation: animate linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 640px) {
  .moon {
    height: 100px;
    width: 100px;
  }
  #cloud1 {
    max-width: 250px;
    top: 25px;
  }
  #cloud2 {
    max-width: 350px;
    top: 175px;
  }
  #cloud3 {
    max-width: 450px;
    top: 75px;
  }
  #cloud4 {
    max-width: 550px;
    top: 125px;
  }
  #cloud5 {
    max-width: 450px;
    top: 100px;
  }
  #cloud6 {
    max-width: 600px;
    top: 40px;
  }
}
